<% extend('layout') %>
<div class="content">
  <div class="container">
    <img class="img-responsive" src="/images/about-img.jpg" />
    <!--======= WHO WE ARE =========-->
    <% include includes/partials/who-we-are %>
    <% include includes/partials/counter %>
    <% include includes/partials/team %>
    <% include includes/partials/testimonial %>
    <% include includes/partials/clients %>
    <% include includes/general/footer %>
  </div>
</div>
