<% extend('layout') %>
<div class="content">
  <div class="container">

    <!--======= BLOG =========-->
    <div class="row blog">
      <div class="col-sm-9">
        <!--======= POST 1 =========-->
        <article>
          <!--======= IMAGE =========-->
          <img class="img-responsive" src="images/blog-1.jpg" alt="" >
          <div class="blog-info">
            <div class="post-tittle">
              <div class="date-post">
                <h4>28</h4>
                <span>JUN</span> </div>
              <a href="#.">FEUGIAT EU EA VELIT NOBIS CORPORIS MATTIS DISTINCTIO</a>
              <ul>
                <li>BY JOHN DEO </li>
                <li> <i class="fa fa-heart-o"></i> LIKES </li>
                <li> <i class="fa fa-comments-o"></i> COMMENT </li>
              </ul>
            </div>
            <p> Come and knock on our door. We've been waiting for you. Where this kisses are hers and ers and his. Three's pan will too Texas tea. The Love Boat soon will be making another run. The Love Boat promises something o everyone come Blanditiis the montes architecto doloribus dolor. </p>
            <a href="#." class="btn btn-1">read more</a> </div>
        </article>

        <!--======= POST 2 =========-->
        <article class="simple-post">
          <div class="blog-info">
            <div class="post-tittle">
              <div class="date-post">
                <h4>28</h4>
                <span>JUN</span> </div>
              <a href="#.">FEUGIAT EU EA VELIT NOBIS CORPORIS MATTIS DISTINCTIO</a>
              <ul>
                <li>BY JOHN DEO </li>
                <li> <i class="fa fa-heart-o"></i> LIKES </li>
                <li> <i class="fa fa-comments-o"></i> COMMENT </li>
              </ul>
            </div>
            <p> Come and knock on our door. We've been waiting for you. Where this kisses are hers and ers and his. Three's pan will too Texas tea. The Love Boat soon will be making another run. The Love Boat promises something o everyone come Blanditiis the montes architecto doloribus dolor. </p>
            <a href="#." class="btn btn-1">read more</a> </div>
        </article>

        <!--======= POST 3 =========-->
        <article>
          <!--======= IMAGE =========-->
          <img class="img-responsive" src="images/blog-2.jpg" alt="" >
          <div class="blog-info">
            <div class="post-tittle">
              <div class="date-post">
                <h4>28</h4>
                <span>JUN</span> </div>
              <a href="#.">FEUGIAT EU EA VELIT NOBIS CORPORIS MATTIS DISTINCTIO</a>
              <ul>
                <li>BY JOHN DEO </li>
                <li> <i class="fa fa-heart-o"></i> LIKES </li>
                <li> <i class="fa fa-comments-o"></i> COMMENT </li>
              </ul>
            </div>
            <p> Come and knock on our door. We've been waiting for you. Where this kisses are hers and ers and his. Three's pan will too Texas tea. The Love Boat soon will be making another run. The Love Boat promises something o everyone come Blanditiis the montes architecto doloribus dolor. </p>
            <a href="#." class="btn btn-1">read more</a> </div>
        </article>
      </div>

      <!--======= SIDE BAR =========-->
      <div class="col-sm-3">
        <div class="side-bar">
          <!--======= CATEGORIES =========-->
          <div class="cate margin-t-40">
            <h5>Categories</h5>
            <hr>
            <ul>
              <li><a href="#.">Photography <span>(25)</span></a></li>
              <li><a href="#.">Design <span>(12)</span></a></li>
              <li><a href="#.">music <span>(18)</span></a></li>
              <li><a href="#.">fashion <span>(35)</span></a></li>
              <li><a href="#.">photoshop <span>(24)</span></a></li>
              <li><a href="#.">articles <span>(15)</span></a></li>
              <li><a href="#.">video <span>(05)</span></a></li>
            </ul>
          </div>

          <!--======= PAPULAR POST =========-->
          <div class="papu-post margin-t-40">
            <h5>Popular Post</h5>
            <hr>
            <ul>
              <li class="media">
                <div class="media-left"> <a href="#"> <img class="media-object" src="images/img-1.jpg" alt=""></a> </div>
                <div class="media-body"> <a class="media-heading" href="#.">Were gonna pay a call a boldly go where no </a> <span>Jun 18, 2015</span> </div>
              </li>
              <li class="media">
                <div class="media-left"> <a href="#"> <img class="media-object" src="images/img-2.jpg" alt=""></a> </div>
                <div class="media-body"> <a class="media-heading" href="#.">So lets make the most is  beautiful day </a> <span>Jun 18, 2015</span> </div>
              </li>
              <li class="media">
                <div class="media-left"> <a href="#"> <img class="media-object" src="images/img-3.jpg" alt=""></a> </div>
                <div class="media-body"> <a class="media-heading" href="#.">We're gona make dreams comes true </a> <span>Jun 18, 2015</span> </div>
              </li>
              <li class="media">
                <div class="media-left"> <a href="#"> <img class="media-object" src="images/img-4.jpg" alt=""></a> </div>
                <div class="media-body"> <a class="media-heading" href="#.">New life civilizations to boldly go where no </a> <span>Jun 18, 2015</span> </div>
              </li>
            </ul>
          </div>

          <!--======= ARCHIVES =========-->
          <div class="cate margin-t-40">
            <h5>Archives</h5>
            <hr>
            <ul>
              <li><a href="#.">FEBRUARY 2015 <span>(10)</span></a></li>
              <li><a href="#.">March  2015 <span>(13)</span></a></li>
              <li><a href="#.">APRIL  2015 <span>(12)</span></a></li>
              <li><a href="#.">MAY  2015 <span>(05)</span></a></li>
            </ul>
          </div>

          <!--======= TAGS =========-->
          <div class="tags margin-t-40">
            <h5>TAGS</h5>
            <hr>
            <ul>
              <li><a href="#.">Amazing </a></li>
              <li><a href="#.">Envato </a></li>
              <li><a href="#.">Themes </a></li>
              <li><a href="#.">Clean </a></li>
              <li><a href="#.">Responsiveness </a></li>
              <li><a href="#.">SEO </a></li>
              <li><a href="#.">Mobile </a></li>
              <li><a href="#.">IOS </a></li>
              <li><a href="#.">Flat </a></li>
              <li><a href="#.">Design </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--======= RIGHTS =========-->
    <div class="rights margin-t-80">
      <p>Copyright 2015.  All Rights Reserved</p>
    </div>
  </div>
</div>
