<!DOCTYPE html>
<html>
<head>
<% include includes/general/meta %>
<% include includes/general/css %>
<% include includes/general/top-js %>
</head>
<body>
<div id="wrap">
  <div class=" portfolio-wrapper">
<% include includes/general/navbar %>
  <div id="main-content">
<%- content %>
  </div>
</div>
</div>
<% include includes/general/search %>
<% include includes/general/js %>
</body>
</html>
