<% extend('layout') %>
<div class="content">
  <div class="container"> <img class="img-responsive" src="images/services-img.jpg" alt="" >
<% include includes/partials/services %>
<% include includes/partials/counter %>
<% include includes/partials/order %>
<% include includes/partials/testimonial %>
<% include includes/partials/clients %>
<% include includes/general/footer %>
  </div>
</div>
