<form role="form" id="contact_form" method="post" onSubmit="return false">
  <ul class="row">
    <li class="col-sm-3">
      <label>full name *
        <input type="text" class="form-control" name="name" id="name" placeholder="">
      </label>
    </li>
    <li class="col-sm-3">
      <label>Email *
        <input type="text" class="form-control" name="email" id="email" placeholder="">
      </label>
    </li>
    <li class="col-sm-3">
      <label>Phone *
        <input type="text" class="form-control" name="company" id="company" placeholder="">
      </label>
    </li>
    <li class="col-sm-3">
      <label>WebSite
        <input type="text" class="form-control" name="website" id="website" placeholder="">
      </label>
    </li>
    <li class="col-sm-12">
      <label>Message
        <textarea class="form-control" name="message" id="message" rows="5" placeholder=""></textarea>
      </label>
    </li>
    <li class="col-sm-12">
      <button type="submit" value="submit" class="btn btn-1" id="btn_submit" onClick="proceed();">SEND NOW <i class="fa fa-long-arrow-right"></i></button>
    </li>
  </ul>
</form>
