<header>
<nav>
  <div class="nav-close">
      <a href="#"><i class="ion-ios-close-outline"></i></a>
    </div>
  <div class="navgation">
  <a href="#."><i class="ion-navicon fa-2x"></i></a>
    <div class="open-navigation">
      <div class="navi-in animated flipInY">
        <a href="#" class="logo"> <img src="images/logo.png" alt="" > <span>TITLE</span>
        <hr>
        </a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
        <p class="ads">ADDRESS</p>
      </div>
    </div>
  </div>
<div id="nav"></div>
  <div class="navgation share"> <a href="#."><i class="ion-android-share-alt"></i></a>
    <div class="open-navigation">
      <div class="navi-in animated flipInY">
        <ul class="social_icons">
          <li class="facebook"><a href="#."><i class="fa fa-facebook"></i> </a></li>
          <li class="twitter"><a href="#."><i class="fa fa-twitter"></i> </a></li>
          <li class="instagram"><a href="#."><i class="fa fa-instagram"></i> </a></li>
          <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i> </a></li>
          <li class="linkedin"><a href="#."><i class="fa fa-linkedin"></i> </a></li>
        </ul>
      </div>
    </div>
  </div>
  <a href="" class="open-search header-open-search"><i class="ion-ios-search"></i></a>
</nav>
</header>
