<div class="search-overlay"></div>
<div class="search"> <a href="" class="search-close"><i class="ion-android-close"></i></a>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form class="search-form">
        <input type="text" id="search" name="search" class="text-center" placeholder="Search" />

        <button type="submit"><i class="ion-ios-search-strong"></i></button>
      </form>
      <!-- end .search-form -->
    </div>
    <!-- end .col-sm-6 -->
  </div>
  <!-- end .row -->
</div>